:root{
    --delay:0.7s;
    --cor-base:#5b5675;
    --cor-destaque:#141125;
    --cor-thema:#27ae60;
    --cor-problema:#bd4f2d;
    --cor-banner1:rgb(245, 255, 197);
    --cor-banner2: rgb(237, 249, 255);
    --cor-banner3: rgb(236, 249, 255);
}
@font-face {
    font-family: "Pop";
    src: url("Poppins-ExtraLight.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Pop";
    src: url("Poppins-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Pop";
    src: url("Poppins-Medium.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Pop";
    src: url("Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Pop";
    src: url("Poppins-Bold.ttf");
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: "Pop";
    font-weight: 200;
}
html, body {
    height: 100%; /* Faz o html e o body ocuparem toda a altura da janela */
    margin: 0; /* Remove a margem padrão */
}
body{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    flex-direction: column;
    background: linear-gradient(rgb(181, 181, 230), rgb(196, 196, 243));
}
.barralateral{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(36, 203, 36), green);
}